.serie {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;
    position: relative;
    color: black;
}

.serie > img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.serie > div {
    background-color: white;
    z-index: 50;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 0;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}