.events {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
}

.events > h1 {
  color: white;
}

.events__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 20px;
}
